.writers-container{
    margin: 10px 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
}
.writers{
    /* border-right: 1px solid rgb(65, 177, 214); */
    background-color: #d4c4ab;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr
    );
    grid-gap: 10px;
}

.writers-added{
    background-color: #d4c4ab;
    border-radius: 10px;
    padding: 10px;
}